<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img src="" class="logo" alt="Home Food for Kids Meal" (click)="redirectToHomePage()">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">

                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue">
                    <ul>
                        <li (click)="redirectToCatalog();closeMenu()">Catalog</li>
                        <!-- <li (click)="closeMenu()">About</li>
                        <li (click)="closeMenu()">Courses</li>
                        <li (click)="closeMenu()">Contact</li> -->
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <nav>
      <h1>Site Header</h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav> -->
  </header>