<footer>
  <div class="footerContainer">
    <div class="socialIcons">
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-youtube"></i></a>
      <a href="https://api.whatsapp.com/send?phone=916301865922&text=Hi%20%21%21%20I%20would%20like%20to%20opt%20the%20service%20for%20my%20kid%28s%29." target="_blank"><i class="bi bi-whatsapp"></i></a>
      <!-- <a href=""><i class="bi bi-telegram"></i></a> -->
    </div>
    <div class="footerNav">
      <ul>
        <!-- <li><a href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li> -->
        <li class="contact"><a>Contact Us +91 6301865922</a></li>
        <!-- <li><a href="">our Team</a></li> -->
      </ul>
    </div>

  </div>
  <div class="footerBottom">
    <p>Copyright &copy;2025; Designed by <span class="designer">Anand</span></p>
  </div>
</footer>