<div class="modal fade show d-block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Health benifits of {{vegetable.name}}</h5>
                <button type="button" class="btn-close" (click)="closepopup()"></button>
            </div>
            <div class="modal-body">
                <div class="row mx-0">
                    <div class="col-12 image">
                        <img [src]="vegetable.image" alt="Card image cap" >
                    </div>
                    <div class="vegetablename">
                        <h1 class="text-center">{{vegetable.Name}}</h1>
                        <div class="description" *ngFor="let desc of vegetable.Description">
                            <li>{{desc}}</li>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
