@media (min-width: 576px) {
    .modal-dialog {
        max-width: 90vw;
        max-height: 80vh;
        margin-right: auto;
        margin-left: auto;
        
    }
}


.modal-body {
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
    background-color: #e2e6e0;
}
.vegetablename li {
    // list-style-type: none;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #02534d;
    text-align: justify;
}
img {
    width: 100%;
    height: 300px;
}
.modal-title {
    font-weight: 900;
    text-decoration: underline;
}